---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#main {max-width: 80% !important;}
.toc__menu {

  /* hide sub sub links on small screens*/
  li > ul li ul {
    display: none;

    }
  }

.page__hero-caption, .archive__item-caption {
  font-size: 8pt;
  font-family: sans-serif;
  line-height: 1em;
  padding: 2px;
  font-style: italic;
}

.page__content h2 { background-color: #f8f5ec; padding: 5px; border-left: 1em #e9dcbe solid;}

.page__content h2.intro { background-color: transparent !important; border-left: none !important;}
